body {
   /* background-color: #f2f2f2;background-color: #002C61; */
   background-color: #f2f2f2;
  }
  
  .title {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    color: Black;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-top: 0;
  }
  .logo{
    width: 17.5%;
    float: left;
    justify-content: start;
    margin-left: 70px;
    margin-bottom: 50px;
  }
  .ndtl{
    float: left;
  }
  .site-title-group {
    display: flex;
    float: left;
    width: 90%;
  }
  #header{
    width:100%
  }
  .traditional-output,
  #additional-data{
    display: flex;
    flex-direction: column;
    width: 300px;
  }


  .output-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;

  }
  
  .chart-selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  #cancel-button,
  .selection-component,
  #progress{
    display: flex;
    flex-direction: row;
    height: 25px;
    margin: 5px;
    margin-top: 10px;
  }
.charts{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.chart-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
  .credits{
    color: gray;
    font-style: italic;
    font-size: small;
    margin-top: 0px;
  }

.content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}
  
  .InputOut {
    padding-left: 5px;
  }
  
  .label-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label-input-row label {
    flex-basis: 100px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: small;
  }

  .label-output-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    align-items: flex-end;
}
.label-output-row input {
  text-align: right;
}
.label-output-row label {
    flex: 1 0 auto;
    margin-right: 10px;
    text-align: left;
    font-weight: bold;
    font-size: small;
}
.label-output-row h4{
  width: 100px;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  .Outlet{
    margin-top: 20px;
  }
  .label-input-row h4{
    width: 100px;
    margin: 20px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
  }

  .rootGraph {
    display: flex;
    height: 350px;
  }
  
  .input-container,
  .output-container,
  .chart-container {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .chart-container{
    display: flex;
  }
  .input-container h4 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
  }
  
  .input-container input[type="text"],
  .output-container input[type="text"],
  #additional-data input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    /*border-radius: 3px;*/
    width: 50px;
    height: 30px;
    font-size:x-small;
  }
  .input-container select,
  .output-container select,
  #additional-data select {
    padding: 5px;
    /*border: 1px solid #ccc;
    border-radius: 3px;
    border-width: 3px;*/
    border: 1px solid #ccc;
    width: 65px;
    height: 30px;
    font-size:x-small;
  }
  .input-container input[class="description"]
  {
    padding: 5px;
    /*border: 1px solid #ccc;
    border-radius: 3px;*/
    width: 360px;
    text-align: start;
  }
  .Inlet{
    margin-top: 20px;
  }
  .Inlet input[class="description"],
  .output-container input[class="description"],
  #additional-data input[class="description"]
  {
    padding: 5px;
    /*border: 1px solid #ccc;
    border-radius: 3px;*/
    width: 250px;
    text-align: start;
  }



  .exampleFlows {
    margin-top: 10px;
  }
  .exampleFlows select {
    width: 200px;
  }
  .inputFields{
    display: flex;
    flex-direction: row;
  }
  
  .gui-parameters {
    margin: 20px;
  }
  
  #calculate {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #calculate:hover {
    background-color: #45a049;
  }
  
  /* Added CSS for responsive layout */
  @media (max-width: 1200px) {
    .content {
      flex-direction: column;
      align-items: center;
    }

    .input-container,
    .output-container{
      width: 100%;

    }
    .inputFields,
    .outputLabels {
      padding: 0 20px;
    }

    .exampleFlows {
      margin-top: auto;
    }

    .output-container {
      align-self: center;
      margin-top: 20px;
    }
    .charts{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  @media(max-width: 750px){
    .input-container,
    .output-container{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .inputFields{
      display: flex;
      flex-direction: column;
    }
  }
  @media(min-width: 1900px){
    .output-container{
      width: 70%;
    }
  }